.form-elements {
	.form-field {
		margin-bottom: 20px;
		
		&.is-light {
			.label {
				color: white;
			}
		}

		&.is-danger {
			box-shadow: inset 0 -1px 0 0 #EE2E24;
		}
	}
	.label {
		color: black;
	}
}